/* HEADER */

.container {
    width: 100%;
    max-width: 1200px;
    max-height: 250px;
    margin: auto;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 10px;
    background-color: hsla(0, 0%, 20%, 0.6);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 70px;
    font-weight: 700;
    font-family: 'Italianno';
    color: #fff;
    z-index: 0;
    text-decoration: none;
}

.header__logo:hover {
    color: hsl(10, 66%, 77%);
    text-decoration-style: solid;
}


/* links / navigation */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 14px;
    color: #fff;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    transition: color 0.25s linear;
    position: relative;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: hsl(10, 66%, 77%);
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity 0.25s linear;
}

.nav__link:hover {
    color: hsl(10, 66%, 77%);
}

.nav__link:hover:after {
    opacity: 1;
}


/* Instagram */

.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.instagram__item {
    width: 33%;
    border-right: 1px solid white;
}

.instagram__item img {
    display: block;
    max-width: 100%;
    height: auto;
}

.fab.fa-instagram {
    font-size: 48px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Tenor Sans';
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../img/bgr9.jpg") center repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0 auto;
}
select[name="empl"]{
    padding: 10px;
    margin: 10px;
    border: 0;
    align-items: left;
    padding-right: 15px;
}

select[name="serv"]{
    padding: 10px;
    margin: 10px;
    border: 0;
    align-items: left;
    padding-right: 15px;
}

input[list="user"] {
    padding: 10px;
    margin: 10px;
    border: 0;
    width: 100%;
    max-width: 300px;
    align-items: left;
    padding-right: 15px;
}

input[type="text"]{
    padding: 10px;
    margin: 10px;
    border: 0;
    width: 100%;
    max-width: 100px;
    align-items: left;
    padding-right: 15px;
}

input[list="serv"] {
    padding: 10px;
    margin: 10px;
    border: 0;
    width: 100%;
    max-width: 300px;
    align-items: left;
    padding-right: 15px;
}

input[type="date"] {
    padding: 10px;
    margin: 10px;
    border: 0;
    width: 100%;
    max-width: 150px;
    align-items: left;
    padding-right: 15px;
}

input[type="time"] {
    padding: 10px;
    margin: 10px;
    border: 0;
    width: 100%;
    max-width: 100px;
    align-items: left;
    padding-right: 15px;
}

form {
    text-align: center;
}

p {
    text-align: center;
}

/* sign up button */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css');
button[type=submit] {
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    padding: 12px 16px;
    border-radius: 100px;
    color: #fff;
    background-color: #0d8aee;
    text-transform: none;
    font-family: 'Tenor Sans';
}

button[type=submit]:hover {
    background: #39a1f4;
    transition: opacity 0.25s linear;
}

button[type=submit] i {
    margin-right: 4px;
}

button[type=submit]:hover:after {
    opacity: 1;
}


/* sign up button */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css');
.button {
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    padding: 12px 16px;
    border-radius: 100px;
    color: #fff;
    text-transform: none;
    font-family: 'Tenor Sans';
}

.button i {
    margin-right: 4px;
}

.button + .button {
    margin-left: 6px;
}

.button.blue {
    background: #2196F3;
}

.button.purple {
    background: #9b59b6;
}

.button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.button:hover.blue {
    background: #39a1f4;
}

.button:hover.purple {
    background: #a66bbe;
}

.button:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.button:active.blue {
    background: #0d8aee;
}

.button:active.purple {
    background: #8f4bab;
}

.button:hover {
    background: #333;
    transition: opacity 0.25s linear;
}

.button:hover:after {
    opacity: 1;
}

.good_message {
    background-color: #91da7e;
    transform: translateY(-60%);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.bad_message {
    background-color: hsl(10, 66%, 77%);
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.not_enough{
    background-color: hsl(10, 66%, 77%);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}



/* FORM */

.form {
    justify-content: center;
    font-family: 'Tenor Sans';
    transform: translateY(-20%);
}

.color_for_form{
    background-color: hsla(10, 66%, 77%, .4);
}

.user__info{
    justify-content: center;
    text-align: center;
}

table{
    background-color: hsla(10, 66%, 77%, .4);
    font-size: 20px;
    display: inline-block;
    border: 1px solid black;
}

td, th{
    border: 1px solid black;
    padding: 2px;
}

.set{
    margin: 0 auto;
}

.lab{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.set_cont{
    margin-top: 100px;
}


