thead th{
     background-color:rgba(0, 0, 0, 0.9);
     color: gold;
     font-family: 'URW Chancery L', cursive;
     font-size: 30px;
     font-weight: 100;
     word-spacing: 2px;
     padding: 10px 10px;
     border-radius:10px;
}

table {
  height: 40%;
  left: 10%;
  margin: 80px auto;
  overflow-y: scroll;
  position: static;
  width: 30%;
}

h1{
    background-color:rgba(0, 0, 0, 0.9);
    color: gold;
    padding: 3px 20px;
    margin: 0 auto;
    text-align: center;
    font-family: "Georgia", serif;
	font-size:14pt;
}
h2,h3{
    padding: 30px 20px;
    margin: 0 auto;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    font-family: "Georgia", serif;
}
body {
  background-image: url(../img/white-background-with-golden-sparkle-wave_1017-23750.jpg);
  margin: 0;
  padding: 0;
}


 