/* HEADER */

.container {
    width: 100%;
    max-width: 1200px;
    max-height: 250px;
    margin: auto;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 10px;
    background-color: hsla(0, 0%, 20%, 0.6);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 70px;
    font-weight: 700;
    font-family: 'Italianno';
    color: #fff;
    z-index: 0;
    text-decoration: none;
}

.header__logo:hover {
    color: hsl(10, 66%, 77%);
    text-decoration-style: solid;
}

/* Instagram */

.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.instagram__item {
    width: 33%;
    border-right: 1px solid white;
}

.instagram__item img {
    display: block;
    max-width: 100%;
    height: auto;
}

.fab.fa-instagram {
    font-size: 48px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Tenor Sans';
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: url("../img/bgr14.jpg") center repeat-y;
    -webkit-background-size: contain;
    background-size: contain;
    margin: 0 auto;
}

form {
    text-align: center;
}

p {
    text-align: center;
}


/* sign up button */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css');
button[type=submit] {
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    padding: 12px 16px;
    border-radius: 100px;
    color: #fff;
    background-color: #0d8aee;
    text-transform: none;
    font-family: 'Tenor Sans';

}

button[type=submit]:hover {
    background: #39a1f4;
    transition: opacity 0.25s linear;
}

button[type=submit] i {
    margin-right: 4px;
}

button[type=submit]:hover:after {
    opacity: 1;
}

.not_enough{
    background-color: hsl(10, 66%, 77%);
    font-size: 30px;
    text-align: center;
}

.notempl{
    margin-top: 10px;
    background-color: hsl(10, 66%, 77%);
    font-size: 30px;
    text-align: center;
}

.message {
    margin-top: 10px;
    font-size: 30px;
    background-color: hsl(10, 66%, 77%);
    text-align: center;
}


/* sign up button */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css');
.button {
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    padding: 12px 16px;
    border-radius: 100px;
    color: #fff;
    text-transform: none;
    font-family: 'Tenor Sans';
}

.button i {
    margin-right: 4px;
}

.button + .button {
    margin-left: 6px;
}

.button.blue {
    background: #2196F3;
}

.button.purple {
    background: #9b59b6;
}

.button.purple.adm {
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Arial';
    text-decoration: none;
    margin: 3px;
}

.button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.button:hover.blue {
    background: #39a1f4;
}

.button:hover.purple {
    background: #a66bbe;
}

.button:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.button:active.blue {
    background: #0d8aee;
}

.button:active.purple {
    background: #8f4bab;
}

.button:hover {
    background: #333;
    transition: opacity 0.25s linear;
}

.button:hover:after {
    opacity: 1;
}


/* HAVEACC */

.haveacc {
    font-size: 20px;
    /*background-color: #d7a9bc;*/
    background-color: hsla(10, 66%, 77%, .4);
    max-width: 60%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
font-family: 'Tenor Sans';
text-align: right;
}

input{
    padding: 5px;
    font-size: 15px;
    font-family: 'Tenor Sans';
}

.fu{
    margin-left: 30%;
}

.check__list{
    text-align: left;
}

.butt{
    text-align: center;
}

.haveacc:hover {
    box-shadow: 15px 15px 0px rgba(1, 1, 1, 1);
}

.elem {
    align-self:
}

.admin__buttons {
    font-size: 20px;
	margin-top:100px;
	display: flex;
    justify-content: center;
}




/* FORM */

.form {
    justify-content: center;
    font-family: 'Tenor Sans';
}

/* ALL STUFF FOR BACK-END BAEUTY */

.recordsempl__container{
    background-color:  aqua;
    max-width: 1000px;
    margin: 0 auto;
}

.capcha{
    display: flex;
  justify-content: center;
}

.capcha__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    transition: color 0.25s linear;
    position: relative;
}

.capcha__link:hover {
    color: hsl(10, 66%, 77%);
    text-decoration: none;
}


