thead th{
     background-color:rgba(0, 0, 0, 0.9);
     color: gold;
     font-family: 'Marutya';
     font-size: 30px;
     font-weight: 100;
     word-spacing: 2px;
     padding: 10px 10px;
     border-radius:10px;
}

table {
  height: 40%;
  left: 10%;
  margin: 80px auto;
  overflow-y: scroll;
  position: static;
  width: 30%;
}


body {
  background-image: url(../img/p1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

font{
	
  font-family: 'Marutya';
  src: local('Marutya'), local('Marutya'),

  url(/fonts/Marutya.ttf);

}
 